/* shared style */
main{
max-width: 1140px;
margin: 0 auto;
}


/* nav section style */
.nav-section{
  display: flex;
   justify-content: space-between;

   align-items: center;
   max-width: 1140px;
   height: 71px;
   margin:0 auto;
}
.nav-menu-1{
  display: flex;
  list-style: none;
  justify-content:space-around;
  align-items: center;
  width: 415px;
}
.home{
  color: black;
}
.shop-about{
  color:#8987A1;
}
.add-to-cart-img{
  width: 30px;
  height: 30px;
  margin-top: -10px;
}
.li-cart{
   color: black;
  display: flex;
}

/* banner section start */
.banner{
  height: 461px;
  display: flex;
   
  gap:80px;
  margin-top: 80px;
   
}
.banner-container{
  width: 470px;
  height: 299px;
   margin-top: 100px;
    }

   .banner-title{
    font-size: 50px;
   }

.fresh{
  color: #E95A08;
}
.banner-des{
   
  color: rgb(151, 149, 149);
}
/* our plants section start */
.plants-container{
  height: 138px;
  text-align: center;
}
.plants-title{
  font-size: 50px;
  font-weight: 700;
}
.plants-des{
  color: rgb(151, 149, 149);
}
/* lily section start */
.lily-section{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.lily-container{
  width: 270px;
  height: 484px;
  text-align: center;
}
.lily-p-1{
  font-size: 22px;
  font-weight: 400;
}
.lily-p-2{
font-size: 22px;
  font-weight: 700;
}
.btn-cart{
  width: 270px;
  height: 50px;
  background-color: #E95A08;
  color: white;
  border:none;
}
/* flower section start */
.flower-section{
  display: flex;
  margin-top: 80px;
  height: 597px;
  gap:60px;
}
.flower-img{
  height: 597px;
  width: 540px;
}
.flower-container{
  width: 540px;
  height: 521px;

}
.flower-title{
  font-size: 50px;
  font-weight: 700;
}
.flower-li{
  height: 108px;
  width: 300px;
  margin-left: -20px;
  color:  rgb(151, 149, 149);
}
/* latest section start */
.section-latest{
height: 138px;
text-align: center;
}
 .lastest-des{
  color:rgb(151, 149, 149); 
 }
 .photo{
  display: flex;
  height: 423px;
 }
  
  
 .bloom{
  width: 280px;
  height: 70px;
  text-align: center;
   padding:65px 42px;
   border-radius: 10px;
  background-image: url(../assets/deal-bloom.png);
 }
 .sixty-percent{
  font-size: 22px;
  font-weight: 700;
  color: white;
 }
 .shop-now{
  font-size: 16px;
  font-weight: 350;
  color: white;
 }
 .ana{
  background-image: url(../assets/deal-ana.png);
 width: 280px;
height: 67px;
text-align: center;
   padding:65px 42px;
   border-radius: 10px;
   margin-top: 20px;
}
.zabo{

  width: 590px;
height: 255px;
text-align: center;
padding: 80px;
border-radius: 10px;
  background-image: url(../assets/deal-zabo.png);
}
.tweenty-five{
  font-size: 40px;
  font-weight: 700;
  color: white;
}
.shop-now-3{
  font-size: 28px;
  font-style: 350;
  color: white;
}
.bloom-ana-zabo{
  margin-top: 30px;
  display: flex;
  gap: 25px;
}
/* join section start */
.join{
  width: 1440px;
  height: 533px;
  text-align: center;
  margin-top: 100px;
  margin-left: 0px;
  background-image: url(../assets/news-letter-bg.png);
}
.join-title{
  font-size: 50px;
  font-weight: 700;
  color: white;
   margin-right: 90px;
}
 .join-container{
  padding: 150px 100px;
 }
.form{
  width: 644px;
  height: 50px;
  margin-left: 150px;
}
.btn-form{
  width: 186px;
  height: 55px;
  background-color: #E95A08;
  color: white;
  border: none;
}
.form-btn{
  display: flex;
  
}

/* footer section start */
.footer{
  margin-top: 30px;
  width: 1440px;
  height: 348px;
}
.footer-container{
  width: 1120px;
  height: 248px;
  margin:0 auto;
  display: flex;
}
.footer-ul{
  list-style: none;
  display: grid;
  gap:22px;
  grid-template-columns: repeat(2,1fr);
}
.footer-div-1{
  width: 359px;
  height: 179px;
  padding: 50px;
  color:rgb(151, 149, 149);
}
.footer-div-2{
   width: 300px;
  height: 248px;
  color:rgb(151, 149, 149);
}
.footer-div-3{
  width: 216px;
  height: 36px;
  margin-left: 50px;
}
.img-2 {
margin-top: -10px;
}




@media screen and (max-width:577px) {
   .home,.shop-about{
    display:none;
   }
   .banner{
    height: 900px;
    gap:0px;
    display: grid;
    grid-template-columns: repeat(1,fr);
    flex-direction:column;
   }
   .banner-container{
    width: 80%;
    text-align: center;
    margin-top: 0px;
    
    
   }
   .section-plants{
    width: 100%;
     margin-left: 80px;
     margin-top: 0px;
    text-align: center;
   }
   .lily-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   }
   .flower-section{
    display: grid;
    grid-template-columns: repeat(1,1fr);
   }
   .flower-container{
     text-align: center;
}
.flower-li{
   margin-left: 0px;
   width: 100%;
}
.section-latest{
  margin-top: 600px;
  margin-left: 80px;
  text-align: center;
}
.bloom-ana-zabo{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  margin-left: 70px;
}
.zabo{
   width: 290px;
height: 200px;
padding: 40px;
}
.bloom-ana{
  gap: 40px;
 }
.join{
  margin-top: 400px;
  margin-left: 60px;
  width:100%;
  height: 276px;
}
.join-container{
 padding: 50px 0px;
/* width: 321px;
height: 100px; */
}
.join-title{
  margin-right:0;
  font-size: 25px;
}
.form {
width: 250px;
height: 30px;
margin-left: 30px;
}
.btn-form{
   width:100px;
  height: 35px;
}
  

}